@import "tailwindcss";

@import "https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css";




:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */

/* .fade-in {
  animation: fadeIn 0.5s ease-in-out;
} */
